
@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?w37aoe');
  src:  url('./fonts/icomoon.eot?w37aoe#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?w37aoe') format('truetype'),
    url('./fonts/icomoon.woff?w37aoe') format('woff'),
    url('./fonts/icomoon.svg?w37aoe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.8em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-set-profile:before {
  content: "\e90f";
}
.icon-set-classroom:before {
  content: "\e910";
}
.icon-log-out:before {
  content: "\e911";
}
.icon-test:before {
  content: "\e90d";
}
.icon-evaluation:before {
  content: "\e90e";
}
.icon-home-chip:before {
  content: "\e90b";
}
.icon-home-factory:before {
  content: "\e90c";
}
.icon-apps:before {
  content: "\e909";
}
.icon-conversation:before {
  content: "\e90a";
}
.icon-calendario:before {
  content: "\e900";
}
.icon-aleatorio:before {
  content: "\e901";
}
.icon-ajustes:before {
  content: "\e902";
}
.icon-grupos:before {
  content: "\e903";
}
.icon-cuestionario:before {
  content: "\e904";
}
.icon-logo-coolScool:before {
  content: "\e905";
}
.icon-temporizador:before {
  content: "\e906";
}
.icon-tablon:before {
  content: "\e907";
}
.icon-sonometro:before {
  content: "\e908";
}



@media (max-width: 740px) {
  /* ********** INDEX *********** */
  .container-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: rgb(250, 250, 250);
  }
  .img-index{
    width: 340px;
  }

  .container-index-links{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }

  .btn-index{
    color: dimgrey;
    font-size: 1.5em;
    font-weight: 200;
    text-decoration-line: none;
  }

  
  /* ********* CLASSROOM ************ */
  .btn-classroom-action{
    display: flex;
    justify-content: space-around !important;
    margin-top: 20px;
  }
  .student {
    zoom: 68%;
    margin: 2px 2px;
    padding-top: 5px;
  }
  .board-students {
    margin: 0.6em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .btn-add-student{
    height: fit-content;
  }
  
  .student-selected{
    background: lightblue;
    border-radius: 5px;
  }

  .student-out{
    opacity: 0.4;
  }
  
  .avatar-card {
    position: absolute;
    width: 4em;
    margin-left: 20px;
  }
  
  .avatar-points{
    position: absolute;
    margin: 81px 0 0 75px;
    font-size: 0.7em;
    background-color: green;
    color: white;
    padding: 1px 4px;
    border-radius: 13px;
  }
  
  .student .card {
    margin: 76px 0 0 0;
    height: 70px;
    width: 100px;
    position: inherit !important;
  }
  
  .card-p {
    margin: 2px auto;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-name{
    margin-bottom: 0;
    font-size: 1em;
  }
  
  .card-surname{
    margin-bottom: 0;
    color: gray;
    font-size: 1em;
  }

  .container-editClassroom{
    padding: 15px;
    margin-top: 20px;
  }
  .container-editClassroom h1{
    font-size: 1.5em;
    font-weight: 200;
  }

  .btn-editClassroom{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .coolito-newclassroom{
    height: 7em;
  }
  .header-newclassroom{
    display: flex;
    align-items: center;
  }
  .title-newclassroom{
    font-size: 2em;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 25px;
  }

  /* *********** NAVS ************ */
  .logo{
    width: 10em;
    margin: 8px 0;
  }
  .nav-container{
    display: none;
  }
  .menu-generalBtn{
    font-size: 1.3em;
  }
  
  .menu-container{
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .menu-container{
    display: flex;
    flex-direction: column;
  }
  .menu-apps{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .title-menu{
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(30, 163, 183);
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .menu-container a{
    color: rgb(60, 60, 60);
    margin: 8px;
    font-size: 1.2em;
    text-decoration-line: none !important;
  }
  
  .nav-coll i {
    width: 30px;
  }
  .menu-classroom{
    display: flex;
    justify-content: space-evenly;
  }
  .menu-classroom button{
    margin-top: 10px;
    font-size: 0.785rem;
  }

  .btn-logout-menu{
    position: absolute;
    margin-top: 527px;
    margin-left: 10px;
  }

  /* *************** LIST ************** */
.list-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-num{
  font-size: 4em;
  background-color: darkgrey;
  color: white;
  padding: 26px;
  border-radius: 100px;
  width: 127px;
  display: flex;
  justify-content: center;
}

.list-total{
  position: absolute;
  margin: 31px 0 0 52px;
  font-size: 1.5em;
  background-color: rgb(30, 163, 183);
  color: white;
  border-radius: 100px;
  padding: 8px;
  border: 4px solid white;
  width: 52px;
  display: flex;
  justify-content: center;
}

/* ************* SCORE *************** */
/* .img-pts{
  width: 70px;
} */

.coolito-score{
  height: 5em;
}
.header-score{
  display: flex;
  align-items: center;
}
.title-score{
  font-size: 2em;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 30px;
}

/* ************* BOARD ****************** */
.container-columns{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.column-item{
  width: 340px;
  min-height: 130px;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid lightgrey;
  background-color: rgb(240, 240, 240);
}
.card-item {
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.add-panel {
  height: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.card-item p {
  margin-bottom: 0;
}
.column-delete{
  color: dimgrey;
  margin: 5px;
}

.column-add{
  border-radius: 20px;
  margin: 20px;
}

.custom-file-input {
  position: absolute;
  height: 2em;
  width: 2em;
  margin: -8px 0 0 -16px;
}
.img-upload{
  width: 4em;
  height: 4em;
  border-radius: 5px;
  border: 1px solid cornflowerblue;
  object-fit: cover;
  margin-right: 1em;
}
.add-img{
  height: 2em;
  width: 2em;
  font-size: 2em;
}

.card-subtitle{
  font-size: 1.2em;
  font-weight: 100;
  color: rgb(30, 163, 183)
}



/* ******* CHAT ********* */

.server-header{
  height: 3em;
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.server {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-card{
  width: 100%;
  border-bottom: 1px solid lightgray;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
}

.server-card img{
  width: 2.3em;
  height: 3.3em;
}
.server-card p{
  margin-bottom: 0;
  margin-left: 20px;
}

.write{
  padding: 0 12px;
  padding: 0 12px;
  bottom: 0;
  position: absolute;
  width: -webkit-fill-available;
}

.conversation{
  height: 447px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.container-conversation{
  margin: 0 12px;
}

.write input{
  height: 50px;
  margin: 0 auto;
}
.message-r{
  background-color: rgb(242, 242, 242);
  padding: 10px 15px;
  border-radius: 20px;
  width: fit-content;
  margin: 6px 0;
  margin-left: auto;
}
.message-s{
  background-color: rgb(190, 235, 234);
  padding: 10px 15px;
  border-radius: 20px;
  width: fit-content;
  margin: 6px 0 ;
}

.inbox{
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.inbox-btn{
  background-color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 6px;
  height: 50px;
  border-color: lightgrey;
  color: black;
}

.inbox-btn-img{
  height: 36px;
  width: 25px;
}

.btn-back{
  color: lightgrey;
  background-color: white !important;
  border-color: white !important;
  margin-right: 30px;
  font-size: 1.7em;
}

/* ******** LOGIN & REGISTER *********** */
.login{
  width: 90%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
  display: flex;
  margin-top: 150px;
}

.login-body{
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}
.register{
  margin-top: 35px;
}
.coolito-login{
  height: 8em;
  position: fixed;
  margin: -120px 0 0 103px;
}
.select-role-user{
  display: flex;
  justify-content: space-around;
}
/* ************* CLASSROOM ************* */
.classroom{
  display: flex;
    flex-direction: column;
    padding: 30px;
}

.classroom-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 70px;
}

.new-classroom-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: auto;
  padding: 15px 0;
  width: -webkit-fill-available;
}

/* *********** SET CLASSROOM *********** */
.set-classroom{
  padding: 15px;
}

.set-tab{
  background-color: white;
}

.set-class-student{
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 16px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.set-class-date{
  display: flex;
  flex-direction: column;
}

.set-class-icons a{
  font-size: 1.4em;
  margin-right: 15px;
}

.set-class-addStudent{
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: space-between;
}
 .coolito-set{
  height: 6em;
  margin-left: 131px;
  margin-bottom: 10px;
 }
/* ******** CALENDAR ******** */

#calendar h2 {
  font-size: 1.3em;
  margin-top: 15px;
  color: rgb(30, 163, 183);
}

.fc-day-grid-container{
  height: 320px !important;
}
.fc-event{
  position: relative;
  display: block;
  font-size: .65em !important;
  line-height: 1.3;
  border-radius: 3px;
  border: none !important;
  background-color:rgb(164, 164, 164);
  color: white !important;
}
.fc-day-number{
  font-size: 0.8rem;
}

.fc-header-toolbar{
  margin-bottom: 0.7em !important;
}
.fc-day-header{
  font-weight: 300 !important;
}
.fc-head-container{
  background-color: rgb(167, 167, 167) !important;
  color: white !important;
}
.fc-unthemed td.fc-today{
  background: aliceblue !important;
}

/* ************* GROUP *********** */
.group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.container-group{
  height: fit-content;
  background-color: rgb(30, 163, 183);
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 360px;
}

.container-subgroups{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-subgroup{
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0;
  font-weight: 700;
}

.title-group{
  font-size: 1.5em;
  color: gainsboro;
  font-weight: 200;
}

.btn-addSubgroup{
  color: gray;
  margin-bottom: 10px;
}

.btn-delete-group{
  color: darkslategrey;
  padding: 0;
  font-size: 1.3em;
}

.coolito-groups{
  height: 6em;
}
.title-groups{
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 10px;
}
.header-groups{
  display: flex;
  align-items: center;
}

/* ********* TIMER ********* */
.container-timer{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}

.btn-group-timer{
  margin: 0 40px;
}

.collapse-c{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.time-body{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.time-display{
  font-size: 4em;
  font-weight: 100;
  margin-bottom: 30px;
}
.timer-input{
  font-size: 4em;
  font-weight: 100;
  margin-bottom: 30px;
}

.buttons-countdown{
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.numbers-chronometer{
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 40px;
  width: 240px;
}

.buttons-chronometer{
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

/* *********** DETAIL ********** */
.container-detail{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-detail{
  display: flex;
  flex-direction: column;
}

.select-detail{
  width:  100%;
}

.form-detail-items{
  display: flex;
  flex: row;
}

.detail-student-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.detail-header{
  display: flex;
  flex-direction: row;
}

.detail-img{
  height: 60px;
}
.detail-header-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 15px;
}

.detail-name{
  font-size: 2em;
  margin: 0;
}
.detail-email{
  font-size: 1em;
  margin: 0;
  color: grey;
}

.detail-title-table{
  display: flex;
  align-items: baseline;
}

.detail-num{
  font-size: 1.2em;
  background-color: darkturquoise;
  padding: 0 9px;
  border-radius: 20px;
  margin-left: 20px;
  color: white;
  font-weight: 700;
}


/* ******** PROFILE ******* */

.profile{
  width: 90%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  margin-top: 20px;
  margin-bottom: 104px;
}

.image-avatar-selector{
  width: 54px;
  padding: 4px;
}

.image-teacher-selector{
  width: 113px;
  padding: 4px;
}

.image-profile{
  width: auto;
  height: 50px;
  margin-right: 30px;
}

/* ************ MARK ************* */
.input-mark-container{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-right: 20px;
}
}




